body, html{font-family:Arial, Helvetica, sans-serif;font-size:12px;margin:0px;padding:0px;}
.pad{padding-left:10px;}
ul.img-thumbs {
	z-index: 0;
	list-style: none;
	overflow: hidden;
	margin:0px;
	padding:9px 0px 9px 10px;
}
ul.img-thumbs li {
	float: left;
	color:#ffffff;
	margin-right: 6px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	border:1px solid #000000;
}
ul.img-thumbs a {
	display: block;
	width: 190px;
	height: 190px;
	overflow: hidden;
}
.overlay {
	font-size: 12px;
	line-height: 16px;
	background: url(../images/transparent-bg.png);
	position:absolute;
	top: 190px;
	left: 0;
	z-index: 5;
	width: 150px;
	height: 170px;
	padding: 5px 20px 20px 20px;
}
.overlay p {
	padding-bottom: 0px;
}
.overlay h1 {
	font-family: 'Oswald', Arial, sans-serif;
	font-size: 22px;
	color: #ffffff;
	font-weight: normal;
	margin-bottom: 10px;
	line-height:22px;
}
ul.img-thumbs li .zoom{
	padding: 5px;
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
ul.img-thumbs li .zoom {
	background: url(../images/zoom-icon.png) center no-repeat #213E4A;
}
ul.img-thumbs li .zoom:hover{
	background-color: #2F8CBA;
}